<div class="login-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        <label for="correo">Correo</label>
        <input
          type="email"
          id="correo"
          name="correo"
          [(ngModel)]="credenciales.Correo"
          required
        />
      </div>
      <div>
        <label for="contraseña">Contraseña</label>
        <input
          type="password"
          id="contraseña"
          name="contraseña"
          [(ngModel)]="credenciales.Contrasena"
          required
        />
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    </form>
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>
  
