<div class="container mx-auto my-8 px-4">

  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Mis Publicaciones</h2>

  <div class="bg-white p-6 rounded-lg shadow-lg mb-8 w-full max-w-2xl mx-auto">
    <h3 class="text-2xl font-semibold text-center text-gray-700 mb-6">Crear Nueva Publicación</h3>
    <form (ngSubmit)="crearPublicacion()" class="space-y-6">
      <div>
        <label for="titulo" class="block text-lg text-gray-600">Título</label>
        <input type="text" id="titulo" [(ngModel)]="nuevaPublicacion.Titulo" name="titulo" required class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div>
        <label for="contenido" class="block text-lg text-gray-600">Contenido</label>
        <textarea id="contenido" [(ngModel)]="nuevaPublicacion.Contenido" name="contenido" required class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
      </div>
      <div>
        <label for="categoria" class="block text-lg text-gray-600">Categoría</label>
        <input type="number" id="categoria" [(ngModel)]="nuevaPublicacion.CategoriaId" name="categoria" required class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <button type="submit" class="w-full py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">Crear Publicación</button>
    </form>
  </div>

  <div *ngIf="publicaciones.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let publicacion of publicaciones" class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transition duration-300">
      <a [routerLink]="['/comentarios', publicacion.Id]">
      <h3 class="text-2xl font-semibold text-gray-800">{{ publicacion.Titulo }}</h3>
      <p class="mt-2 text-lg text-gray-700">{{ publicacion.Contenido | slice:0:100 }}...</p>
      <small class="block mt-2 text-sm text-gray-500">Publicado por: {{ publicacion.Usuario }}</small>
      <div class="mt-4 flex justify-between items-center">
        <button (click)="iniciarEdicion(publicacion)" class="px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 transition duration-300">Editar</button>
        <button (click)="eliminarPublicacion(publicacion.Id)" class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-300">Eliminar</button>
      </div>
      </a>
    </div>
  </div>
</div>
